<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/二叉搜索树/src/com/jhc/二叉搜索树/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jhc.二叉搜索树.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="二叉搜索树"/>
</launchConfiguration>
